# Local .terraform directories
.terraform/

# Terraform lock file
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (may contain secrets)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Ignore tfplan files
*tfplan*

# CLI configuration files
.terraformrc
terraform.rc

# OS/editor junk
.DS_Store
.vscode/
.idea/
